:root {
  --main_brown: #2d1ef1;
  --main_yellow: #ff9e09;
  --main_rey: #ece8dc;
  --main_white: #ffffff;
  --main_dark: #222222;
}

body {
  background: var(--main_white);
  color: var(--main_dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--main_yellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--main_yellow);
  font-size: 2rem;
}